In [1]:
import pandas as pd

In [283]:
#Get the dataframe from wikipedia pages and combine
df2015 = pd.read_html('http://www.the-numbers.com/movies/year/2015')
df2014 = pd.read_html('http://www.the-numbers.com/movies/year/2014')
df2015 = df2015[0]
df2014 = df2014[0]
df = df2015.append(df2014)
df.reset_index(inplace=True)

In [284]:
## Define new columns
df.columns  = list(df.iloc[0,:])

##Removing uncessary rows and columns
df.drop(df.index[0:2],inplace=True)
df.drop(['Trailer','Genre','ProductionBudget','DomesticBox Officeto Date'],axis=1,inplace=True)

## Fill Date NAs and remove other NAs
df["Release Date"] = df["Release Date"].fillna(method='ffill')
df.dropna(inplace=True)

In [285]:
df2 = df

In [286]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4203 entries, 2 to 4584
Data columns (total 3 columns):
0               4203 non-null int64
Release Date    4203 non-null object
Movie           4203 non-null object
dtypes: int64(1), object(2)
memory usage: 131.3+ KB

In [288]:
import re
def clean(x):
    try:
        return x.replace(" ","").replace("'","").replace("[","").replace("]","").replace("?","").replace("the","").lower().split(":")[0]
    except:
        return 'NaN'

In [289]:
df2["movie_parse"] = df2["Movie"].apply(clean)

In [297]:
df2.sample(10)

,0,Release Date,Movie,movie_parse
3165,424,April 11,Jesus People,jesuspeople
622,622,May 12,Jihad: Afghanistan's Holy War,jihad
4033,1292,October 27,The Purple Plain,thepurpleplain
1446,1446,October 15,Tab Hunter Confidential,tabhunterconfidential
859,859,June 26,Max,max
1221,1221,September 4,Dirty Weekend,dirtyweekend
4478,1737,December 31,The Nutcracker - Bolshoi 2014,thenutcracker-bolshoi2014
3039,298,March 14,Himizu,himizu
3666,925,August 13,Let’s Be Cops,let’sbecops
2085,2085,December 31,Etiquette for Mistresses,etiquetteformistresses

In [271]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4203 entries, 2 to 4584
Data columns (total 4 columns):
0               4203 non-null int64
Release Date    4203 non-null object
Movie           4203 non-null object
movie_parse     4203 non-null object
dtypes: int64(1), object(3)
memory usage: 164.2+ KB